* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-family-roboto: "Roboto Slab", serif;
  --font-family-poppins: "Poppins", sans-serif;
  --background-color-grey: #F3F6F6;
  --font-weight: 600;
}

.body {
  background-image: url(./assest/img/bg.svg);
  font-family: var(--font-family-poppins);
}
.body .container {
  margin: auto;
  max-width: 1320px;
  padding: 0 20px;
}
.body .container .resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 313px;
  margin-bottom: 100px;
  position: relative;
}
.body .container .resume .sidebar {
  width: 400px;
  height: 770px;
  border-radius: 20px;
  background: #FFF;
  position: relative;
}
.body .container .resume .sidebar-img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -120px;
  left: 80px;
}
.body .container .resume .sidebar-all {
  text-align: center;
}
.body .container .resume .sidebar-all .sidebar-introduce {
  margin-top: 140px;
}
.body .container .resume .sidebar-all .sidebar-introduce .introduce-name {
  color: #000;
  font-size: 26px;
  font-family: var(--font-family-roboto);
}
.body .container .resume .sidebar-all .sidebar-introduce .introduce-speciality {
  display: inline-flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  font-weight: var(--font-weight);
  border-radius: 8px;
  background-color: var(--background-color-grey);
}
.body .container .resume .sidebar-all .sidebar-social {
  display: flex;
  margin-top: 25px;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: center;
}
.body .container .resume .sidebar-all .sidebar-social .social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--background-color-grey);
}
.body .container .resume .sidebar-all .sidebar-social .social-network:hover {
  background: #E3E3E3;
}
.body .container .resume .sidebar-all .sidebar-info {
  width: 340px;
  padding: 30px;
  margin-top: 30px;
  margin: auto;
  border-radius: 16px;
  background-color: var(--background-color-grey);
}
.body .container .resume .sidebar-all .sidebar-info .contact-info {
  display: flex;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.body .container .resume .sidebar-all .sidebar-info .contact-info img {
  display: flex;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 10px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
}
.body .container .resume .sidebar-all .sidebar-info .contact-info .info-content {
  line-height: 21px;
  padding-left: 10px;
  overflow: hidden;
  text-align: left;
}
.body .container .resume .sidebar-all .sidebar-info .contact-info .info-content .title {
  color: #44566C;
  font-size: 11px;
}
.body .container .resume .sidebar-all .sidebar-info .contact-info .info-content .describe {
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}
.body .container .resume .sidebar-all .sidebar-info .contact-info:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.body .container .resume .sidebar-all .sidebar-download {
  margin-top: 30px;
}
.body .container .resume .sidebar-all .sidebar-download .btn-download {
  display: inline-flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(94deg, #FA5252 0%, #DD2476 100%);
}
.body .container .resume .sidebar-all .sidebar-download .btn-download:hover {
  opacity: 0.7;
}
.body .container .resume .profile {
  max-width: 850px;
  border-radius: 20px;
  background: #FFF;
  margin-top: 184px;
}
.body .container .resume .profile-resume {
  background: #F8FBFB;
  border-radius: 20px 20px 0 0;
  padding: 60px;
}
.body .container .resume .profile-resume .resume_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.body .container .resume .profile-resume .resume_title .title-resume {
  color: #000;
  font-family: var(--font-family-roboto);
  font-size: 40px;
  font-weight: 700;
}
.body .container .resume .profile-resume .resume_title .line {
  width: 200px;
  height: 3px;
  background: linear-gradient(90deg, #FA5252 0%, #DD2476 100%);
  border-radius: 2px;
}
.body .container .resume .profile-resume .title_list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.body .container .resume .profile-resume .title_list .img_title {
  width: 27px;
}
.body .container .resume .profile-resume .title_list .content_list {
  font-size: 26px;
  font-weight: 500;
}
.body .container .resume .profile-grid {
  padding: 60px;
}
.body .container .resume .profile-grid .self {
  display: flex;
  gap: 30px;
}
.body .container .resume .profile-grid .self .card_left {
  flex: 1;
}
.body .container .resume .profile-grid .self .card_left .title_list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.body .container .resume .profile-grid .self .card_left .title_list .content_list {
  font-size: 26px;
  font-weight: 500;
}
.body .container .resume .profile-grid .self .card_left .colum-card .card {
  border-radius: 12px;
  background: #FFF4F4;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.body .container .resume .profile-grid .self .card_left .colum-card .card-time {
  font-weight: 400;
  line-height: 30px;
  color: #44566C;
  font-size: 14px;
}
.body .container .resume .profile-grid .self .card_left .colum-card .card-title {
  font-weight: 400;
  line-height: 30px;
  display: inline;
  color: #0F172A;
  font-size: 18px;
}
.body .container .resume .profile-grid .self .card_left .colum-card .card-content {
  font-weight: 400;
  line-height: 30px;
  display: inline;
  color: #44566C;
  font-size: 16px;
}
.body .container .resume .profile-grid .self .card_right {
  flex: 1;
}
.body .container .resume .profile-grid .self .card_right .title_list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.body .container .resume .profile-grid .self .card_right .title_list .content_list {
  font-size: 26px;
  font-weight: 500;
}
.body .container .resume .profile-grid .self .card_right .colum-card .card {
  border-radius: 12px;
  background: #FFF4F4;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.body .container .resume .profile-grid .self .card_right .colum-card .card-time {
  font-weight: 400;
  line-height: 30px;
  color: #44566C;
  font-size: 14px;
}
.body .container .resume .profile-grid .self .card_right .colum-card .card-title {
  font-weight: 400;
  line-height: 30px;
  display: inline;
  color: #0F172A;
  font-size: 18px;
}
.body .container .resume .profile-grid .self .card_right .colum-card .card-content {
  font-weight: 400;
  line-height: 30px;
  display: inline;
  color: #44566C;
  font-size: 16px;
}
.body .container .resume .profile-knowledge {
  padding: 0 60px 60px;
}
.body .container .resume .profile-knowledge .content_list {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.body .container .resume .profile-knowledge .tag-list .tag {
  border-radius: 8px;
  background: #EDF2F2;
  display: inline-flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.body .container .resume .profile .license {
  color: #44566C;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 20px;
}
.body .container .resume .navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 560px;
  height: 144px;
  border-radius: 16px;
  background: #FFF;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: 0.5s ease-in-out;
}
.body .container .resume .navbar-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  padding: 15px;
  border-radius: 12px;
  background: #F3F6F6;
}
.body .container .resume .navbar-button img {
  height: 25px;
  margin-bottom: 6px;
}
.body .container .resume .navbar-button p {
  color: #44566C;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
.body .container .resume .navbar-button:hover {
  background: #E3E3E3;
}/*# sourceMappingURL=style.css.map */